/* cfbaf0 */
/* top bar stylings */
.top-bar h3{
    color: #90e0ef;
    font-weight: 300;
}
.top-bar a{
    color: #a49f96;
}
.top-bar a:hover{
    color: #90e0ef;
}

/* top bar stylings */

/* slider images */
.main-slider img{
    height: 70vh;
    
}
.main-slider .carousel-caption{
    background: rgb(144,224,239);
    background: linear-gradient(90deg, rgba(144,224,239,1) 0%, rgba(77,129,139,0.9416141456582633) 37%, rgba(144,224,239,0.76234243697479) 50%, rgba(61,113,122,0.8575805322128851) 62%, rgba(144,224,239,1) 100%);  
}
/* slider images */
/* program stylings */
.program  img{
    height: 300px;
}
.program .card:hover img{
    opacity: .4;

}
.program .card:hover .card-body{
    background-color: #90e0ef;
    color: #ffffff;
    transition: .7s ease-in-out;
}
/* program stylings */
/* pricing stylings */
.pricing{
    /* padding-top: 100px;
    padding-bottom: 100px; */
    background: linear-gradient(45deg,#70baff79,#a0f1ffe7,#60e3fa8f),url(./images/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pricing .card{
    border-top: 5px solid #90e0ef;
}
.pricing  .recommend{
    background-color: #90e0ef;
    color: #ffffff;

}
.pricing .recommend .btn-custom{
    background-color: #ffffff;
    color: #90e0ef;
}
/* pricing stylings */
.btn-custom{
    background-color: #90e0ef;
    color: #ffffff;
    font-weight: 500;
    border-radius: 0px!important;
    padding-left: 50px;
    padding-right: 50px;
}

.btn-custom:hover{
    background-color: #90e0ef;
    color: #ffffff;

}