/* cfbaf0 */
/* top bar stylings */
.top-bar h3{
    color: #90e0ef;
    font-weight: 300;
}
.top-bar a{
    color: #a49f96;
}
.top-bar a:hover{
    color: #90e0ef;
}

/* top bar stylings */

/* slider images */
.main-slider img{
    height: 70vh;
    
}
.main-slider .carousel-caption{
    background: rgb(144,224,239);
    background: linear-gradient(90deg, rgba(144,224,239,1) 0%, rgba(77,129,139,0.9416141456582633) 37%, rgba(144,224,239,0.76234243697479) 50%, rgba(61,113,122,0.8575805322128851) 62%, rgba(144,224,239,1) 100%);  
}
/* slider images */